@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

html {
    scroll-behavior: smooth;
}

body, p, h1, hr{
    margin: 0;
    color: white;
    font-weight: 400;
    text-decoration: none;
}

b{
    font-weight: 700;
}

h1{
    font-size: 38px;
    color: white;
    font-weight: 900;
}

#wrapper{
    background-color: #0d0d0d;
    text-align: center;
}

.navicon {
    position: absolute;
    top: 10px; left: 340px;
    display: flex;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}
.navicon:hover{
    background-color: #614273;
    transition: 0.3s cubic-bezier(0.43, -0.02, 0.49, 0.95);
}

.topicon {
    position: fixed;
    top: 640px; left: 345px;
    display: flex;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #333333;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.topicon a {
    text-decoration: none;
    color: #ffffff
}

/* MAIN */
#main {
    margin:0;
    background-image: url(/static/image/main/background1.jpg);
}

.mainsection {
    max-width: 294px;
    height: 844px;
    background-color: white;
    padding-left: 48px;
    padding-right: 48px;
}

.INFO {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 460px;
}

.date {
    font-weight: 700;
    margin-bottom: 40px;
}

.intro {
    text-align: center;
    font-size: 14px;
    color:white;
    line-height: 30px;

}

.downicon {
    margin-top: 75px;
}

/* LINEUP */
#lineup {
    margin:0;
}

.lineupsection {
    max-width: 294px;
    height: 744px;
    padding: 50px 48px;
}
.ftv {
    font-size: 16px;
    font-weight: 700;
    color: #FBC22E;
}

.days {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}
.day {
    background-color: transparent;
    border: none;
    color: #767676;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
}

.day a {
    text-decoration: none;
    color: #767676;
}

.day a:hover {
    color: #ffffff;
}

.day:focus{
    color: #ffffff;
    padding-bottom: 2px;
    border-bottom: 3px solid #ffffff;
}

.lineup1 {
    border-bottom: 3px solid white;
}

.dotbox {
    display: flex;
    justify-content: center;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: #797979;
    margin: 20px 5px;
}

.gobutton {
    font-size: 16px;
    font-weight: 700;
    background-color: #333333;
    border: none;
    color: white;
    border-radius: 15px;
    width: 294px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gobutton p {
    font-size: 16px;
}

/* BOOTH */
#booth {
    margin:0;
}

.boothsection {
    max-width: 294px;
    height: 744px;
    padding: 50px 48px;
}

.booth1 {
    margin-top: 50px;
}

/* FOOD */
#food {
    margin: 0;
}

.foodsection{
    max-width: 294px;
    height: 644px;
    padding: 50px 48px;
}

.food1 {
    margin-top: 50px;
    width: 291px;
    height: 170px;
}


/* 이미지 슬라이드 */
.swiper {
    width: 294px;
    height: 390px;
    margin-bottom: 10px;
}

.swiper-slide {
    width: 100%;
    background-color: transparent;
}

.swiper-slide img {
    width: 294px;
    height: 340px;
}

.swiper-pagenation {
    position: absolute;
}

.swiper-pagination-bullet {
    background-color: #767676 !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active {
    background-color: #ffffff !important;
}