body {
  background-color: #0d0d0d;
  font-family: "Pretendard";
  margin: 0;
}

li {
  list-style-type: none;
}

.gongi {
  color: #fbc22e;
  font-size: 16px;
  font-weight: bold;
  margin-left: 2rem;
  margin-right: 2rem;
}

.starbucks {
  display: flex;
  flex-direction: row;
}
.sebugongi {
  color: #ffff;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 300;
}

.gongitime {
  color: #ffff;
  font-size: 10px;
  margin-top: 50px;
  margin-left: 130px;
}

.festival {
  color: #fbc22e;
  font-size: 16px;
}

.info {
  color: #ffff;
  font-size: 36px;
  font-weight: bold;
  margin-top: -18px;
}

.semititle {
  font-size: 20px;
  color: #ffff;
  margin-top: 2.3125rem;
}

.buschul {
  color: #9b9b9b;
  font-size: 16px;
}

.slide_wrapper {
  width: 100%;
  height: 170px;
  position: relative;
  margin: 0 auto;
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
}

.slides {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  margin-left: -40px;
}

.slides.animated {
  transition: 0.5s ease-out;
}

.slides li {
  width: 234px;
  height: 133px;
  border: 1px solid #ffff;
  border-radius: 15px;
}

.slides li:not(:last-child) {
  margin-right: 20px;
}

.controller span {
  position: absolute;
  background-color: transparent;
  color: #ffff;
  text-align: center;
  border-radius: 50%;
  padding: 50px -50px;
  margin-left: -25px;
  margin-right: -25px;
  top: 40%;
  font-size: 1.3em;
  cursor: pointer;
}

.controller span:hover {
  background-color: rgba(128, 128, 128, 0.11);
}

.prev {
  left: 10px;
}

.prev:hover {
  transform: translateX(-10px);
}

.next {
  right: 10px;
}

.next:hover {
  transform: translateX(10px);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7.125rem;
  align-items: center;
}

.title {
  width: 117px;
  height: 19px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
  color: #fbc22e;
}

.subtitle {
  width: auto;
  height: 43px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 43px;
  color: #ffffff;
}

.bus-info-style {
  width: 100vw;
  display: flex;
}
