@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/variable/pretendardvariable.css");

html {
    scroll-behavior: smooth;
}

body, p, h1, hr, span{
    margin: 0;
    color: white;
    font-weight: 400;
    text-decoration: none;
    font-family: "Pretendard";
}

b{
    font-weight: 700;
}

h1{
    font-size: 38px;
    color: white;
    font-weight: 900;
}

#wrapper{
    background-color: #0d0d0d;
    text-align: center;
    width: auto;
    font-family: "Pretendard";
}

.navicon {
    position: absolute;
    top: 10px; left: 340px;
    display: flex;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}
.navicon:hover{
    background-color: #614273;
    transition: 0.3s cubic-bezier(0.43, -0.02, 0.49, 0.95);
}

.topicon {
    font-family: "Pretendard";
    position: fixed;
    top: 700px; right: 7px;
    display: flex;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #222222;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.topicon a {
    font-family: "Pretendard";
    text-decoration: none;
    color: #ffffff
}

/* MAIN */
#main {
    margin:0 auto;
    margin-bottom: 4.5rem;
    background-image: url(/static/image/main/background1.jpg);
    align-items: center;
    text-align: center;
    font-family: "Pretendard";
}

.mainsection {
    max-width: 294px;
    height: 844px;
    background-color: white;
    padding-left: 48px;
    padding-right: 48px;
}

.INFO {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 460px;
}

.date {
    font-weight: 700;
    margin-bottom: 40px;
}

.intro {
    text-align: center;
    font-size: 16px;
    color:white;
    line-height: 30px;

}

.downicon {
    margin-top: 4.5rem;
    text-align: center;
}

/* LINEUP */
#lineup {
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.lineupsection {
    max-width: 294px;
    padding: 50px 48px;
}

.ftv {
    font-size: 16px;
    font-weight: 700;
    color: #FBC22E;
}

.days {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}
.day {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: #767676;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
    font-family: "Pretendard";
    cursor: pointer;
}

.active {
    color: #ffffff;
    padding-bottom: 2px;
    border-bottom: 3px solid #ffffff;
}


/* .clicked_day{
    color: #ffffff;
    padding-bottom: 2px;
    border-bottom: 3px solid #ffffff;
} */

.dotbox {
    display: flex;
    justify-content: center;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: #797979;
    margin: 20px 5px;
}

.gobutton {
    background-color: #333333;
    border: none;
    color: white;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.gobutton p {
    font-size: 16px;
    font-weight: 500;
}
.gobutton:hover {
    background-color: #414141;
    transition: 0.3s ease-in-out;   
}

/* BOOTH */
#booth {
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.boothsection {
    max-width: 294px;
    padding: 50px 48px;
}

.booth1 {
    margin-top: 50px;
    width: 100%;
}

/* FOOD */
#food {
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.foodsection{
    max-width: 294px;
    padding: 50px 48px;
}

.food1 {
    margin-top: 50px;
    width: 291px;
    height: 170px;
}


/* 이미지 슬라이드 */
.mySwiper {
    width: 100%;
    height: 485px;
    margin-bottom: 10px;
}

.mySwiper .swiper-wrapper {
    margin-top: 100px;
}

.swiper-slide {
    width: 100%;
    background-color: transparent;
}

.swiper-slide img {
    width: 285px;
    height: auto;
}

/*pagination*/
#daypage {
    padding-top: 25px;
    position: relative;
    top: 10px;
    display:flex;
    justify-content: center;
}

#daypage .swiper-pagination-bullet {
    width: 50px;
    height: auto;
    margin: 0 5px;
    padding: 10px 5px;
	border-radius: 0 !important;
	text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
    font-family: "Pretendard";
	color:#767676;
	opacity: 1;
	background-color: transparent !important;
}
#daypage .swiper-pagination-bullet {
    width: 50px;
    height: auto;
    margin: 0 5px;
    padding: 10px 5px;
	border-radius: 0 !important;
	text-align: center;
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 5px;
    font-family: "Pretendard";
	color:#767676;
	opacity: 1;
	background-color: transparent !important;
}

#daypage .swiper-pagination-bullet-active {
    border-bottom: 3px solid #fff;
    color: #fff;
    font-weight: 700;
    font-family: "Pretendard";
}

#dotpage {
    position: absolute;
    margin-bottom: 5px;
}


.booth {
    width: auto;
    height: 43px;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 43px;
    color: #ffffff;
}


.mySwiper2 {
    width: 100%;
    height: 390px;
    margin-bottom: 10px;
}
.mySwiper3 {
    width: 100%;
    height: 390px;
    margin-bottom: 10px;
}
