{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>booth</title>
    <!-- reset.css modern-css-reset -->
    <link rel="stylesheet" href="{% static 'css/css_reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/booth2.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <script src=/static/js/booth2.js defer></script>
  </head>
  <body>
    <div class="container">
      <div class="title">2022 FESTIVAL</div>
      <div class="booth">Event</div>
    </div>

    <div class="see-btn">
      <button class="total" onclick="location.href='{% url 'booth' %}'">ㄴ 보기</button>
      <button class="part">2일차</button>
    </div>

    <section class="booth-container">
      <!-- 펼치기 전  -->
      {% for booth in booths %}
      <div class="booth-box" id="{{booth.id}}" onclick="onClickEvent(this.id);">
        <div class="booth-before">
          <div class="title-wrap">
            <div class="booth-name">{{booth.name}}</div>
            <div class="booth-info">{{booth.sub_title}}</div>
          </div>
          <span class="material-symbols-outlined"> expand_more </span>
        </div>

        <!-- 펼치기 전 여기까지  -->

        <!-- 펼치기 후 상세내용  -->
        <div class="booth-detail-container">
          <div class="booth-detail-intro-container">
            <hr class="line" />
            <h3 class="introduce">소개</h3>
            <div class="booth-introduce">
              {{booth.intro}}
            </div>
          </div>

          <div class="booth-detail-event-container">
            <div class="event">진행 이벤트</div>
            {% for event in events %}
            <ul class="booth-event">
              {% if event.booth.name == booth.name %}
              <li>{{event.title}}</li>
              {% endif %}
            </ul>
            {% endfor %}
          </div>

          <div class="booth-detail-location-container">
            <div class="location">위치</div>
            <div class="booth-location">{{booth.location}}</div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- 펼치기 후 상세내용 여기까지  -->
    </section>
  </body>
</html>
{% endblock %}
