{% extends 'base.html' %}
{% load static %}
{% block content %}
        <link rel="stylesheet" href="{% static 'css/info.css' %}">
        <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css" />
        <title>info</title>
        <div class="container">
            <div class="title">2022 FESTIVAL</div>
            <div class="subtitle">INFO</div>
        </div>


        <div class="gongi">
        <p class="semititle"><img src="{% static 'image/notice/map.png' %}" alt="" width="20px" height="20px"> 오시는 길</p>
        <img src="{% static 'image/notice/schoolmap.png' %}" alt="" width="100%" height="230px">
        </div>

        <div class="gongi">
        <p class="semititle"><img src="{% static 'image/notice/bus.png' %}" alt="" width="20px" height="20px"> 주요 버스정보</p>
            <p class="buschul">정문 스타벅스 앞 출발</p>
            <li>10번</li> <p>17:42</p>
            <li>100번</li> <p>21:57</p>
            <li>120번</li> <p>22:32</p>
            <li>121번</li> <p>20:06</p>
            <li>123번</li> <p>22:03</p>
            <li>126번</li> <p>16:32</p>
            <li>130번</li> <p>22:52</p>
            <li>132번</li> <p>20:40</p>
            <li>133번</li> <p>22:45</p>
            <li>134번</li> <p>22:12</p>
            <li>140번</li> <p>22:02</p>
            <li>141번</li> <p>17:52</p>
            <li>142번</li> <p>20:46</p>
            <li>143번</li> <p>19:22</p>
            <li>144번</li> <p>15:49</p>
            <li>145번</li> <p>21:07</p>
            <li>146번</li> <p>09:52</p>
            <li>150번</li> <p>22:12</p>
            <li>150-1번</li> <p>19:57</p>
            <li>151번</li> <p>23:36</p>
            <li>152번</li> <p>07:52</p>
            <li>160번</li> <p>22:32</p>
            <li>161번</li> <p>21:22</p>
            <li>170번</li> <p>20:02</p>
            <li>171번</li> <p>18:02</p>
            <li>200번</li> <p>21:45</p>
            <li>210번</li> <p>21:52</p>
            <li>진주사천 완행</li> <p>23:00</p>
            <p class="buschul">학교 정문 앞 출발</p>
            <li>10번</li> <p>20:16</p>
            <li>100번</li> <p>22:48</p>
            <li>120번</li> <p>23:42</p>
            <li>121번</li> <p>21:00</p>
            <li>123번</li> <p>21:42</p>
            <li>126번</li> <p>18:51</p>
            <li>130번</li> <p>23:31</p>
            <li>132번</li> <p>21:52</p>
            <li>133번</li> <p>22:00</p>
            <li>134번</li> <p>23:08</p>
            <li>140번</li> <p>22:46</p>
            <li>141번</li> <p>19:46</p>
            <li>142번</li> <p>22:26</p>
            <li>143번</li> <p>20:59</p>
            <li>144번</li> <p>17:11</p>
            <li>145번</li> <p>21:55</p>
            <li>146번</li> <p>11:13</p>
            <li>150번</li> <p>23:37</p>
            <li>150-1번</li> <p>21:29</p>
            <li>151번</li> <p>22:09</p>
            <li>152번</li> <p>08:50</p>
            <li>160번</li> <p>23:21</p>
            <li>161번</li> <p>22:30</p>
            <li>170번</li> <p>21:34</p>
            <li>171번</li> <p>19:37</p>
            <li>200번</li> <p>23:03</p>
            <li>210번</li> <p>23:19</p>
            <li>진주사천 완행</li> <p>22:45</p>
        </div>


        <script src="{% static 'js/info.js' %}"></script>
{% endblock %}