{% extends 'base.html' %}
{% load static %}
{% block content %}
        <link rel="stylesheet" href="{% static 'css/info.css' %}">
        <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css" />
        <title>info</title>
        <div class="container">
            <div class="title">2022 FESTIVAL</div>
            <div class="subtitle">INFO</div>
        </div>


        <div class="gongi">
        <p class="semititle">🗺 오시는 길</p>
        <img src="{% static 'image/notice/schoolmap.png' %}" alt="" width="100%" height="230px">
        </div>

        <div class="gongi">
        <p class="semititle"><img src="{% static 'image/notice/bus.png' %}" alt="" width="20px" height="20px"> 주요 버스정보</p>
            <p class="buschul">정문 스타벅스 앞 출발</p>
            <div class="starbucks">
                <div>
                    <span class="bus">100번</span> <br>
                    <span class="bus">120번</span> <br>
                    <span class="bus">121번</span> <br>
                    <span class="bus">126번</span> <br>
                    <span class="bus">130번</span> <br>
                    <span class="bus">132 - 134번</span> <br>
                    <span class="bus">140 - 146번</span> <br>
                    <span class="bus">150 - 152번</span> <br>
                    <span class="bus">160번</span> <br>
                    <span class="bus">161번</span> <br>
                    <span class="bus">170번</span> <br>
                    <span class="bus">171번</span> <br>
                    <span class="bus">200번</span> <br>
                    <span class="bus">210번</span> <br>
                    <span class="bus">진주사천 완행&nbsp;&nbsp;&nbsp;&nbsp;</span> <br>
                    <br>
                </divsss>
                <div>
                    <span class="bustime">21:57</span><br>
                    <span class="bustime">22:32</span><br>
                    <span class="bustime">22:03</span><br>
                    <span class="bustime">16:32</span><br>
                    <span class="bustime">22:52</span><br>
                    <span class="bustime">22:45</span><br>
                    <span class="bustime">22:02</span><br>
                    <span class="bustime">23:36</span><br>
                    <span class="bustime">22:32</span><br>
                    <span class="bustime">21:22</span><br>
                    <span class="bustime">20:02</span><br>
                    <span class="bustime">18:02</span><br>
                    <span class="bustime">21:45</span><br>
                    <span class="bustime">21:52</span><br>
                    <span class="bustime">23:00</span><br>
                    <br>
                </div>
            </div>

            <p class="buschul">학교 정문 앞 출발</p><br>
            
            <p class="buschul">학교 정문 앞 출발</p>
            <div class="starbucks">
                <div>
                    <span class="bus">100번</span> <br>
                    <span class="bus">120번</span> <br>
                    <span class="bus">121번</span> <br>
                    <span class="bus">126번</span> <br>
                    <span class="bus">130번</span> <br>
                    <span class="bus">132 - 134번</span> <br>
                    <span class="bus">140 - 146번</span> <br>
                    <span class="bus">150 - 152번</span> <br>
                    <span class="bus">160번</span> <br>
                    <span class="bus">161번</span> <br>
                    <span class="bus">170번</span> <br>
                    <span class="bus">171번</span> <br>
                    <span class="bus">200번</span> <br>
                    <span class="bus">210번</span> <br>
                    <span class="bus">진주사천 완행&nbsp;&nbsp;&nbsp;&nbsp;</span> <br>
                    <br>
                </div>
                <div>
                    <span class="bustime">22:48</span><br>
                    <span class="bustime">23:42</span><br>
                    <span class="bustime">21:00</span><br>
                    <span class="bustime">18:51</span><br>
                    <span class="bustime">23:31</span><br>
                    <span class="bustime">23:05</span><br>
                    <span class="bustime">22:46</span><br>
                    <span class="bustime">23:37</span><br>
                    <span class="bustime">23:21</span><br>
                    <span class="bustime">22:30</span><br>
                    <span class="bustime">21:34</span><br>
                    <span class="bustime">19:37</span><br>
                    <span class="bustime">23:03</span><br>
                    <span class="bustime">23:19</span><br>
                    <span class="bustime">22:45</span><br>
                </div>
            </div>

        </div>



        <script src="{% static 'js/info.js' %}"></script>
{% endblock %}