@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

body {
  background-color: #0d0d0d;
  margin: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7.125rem;
  align-items: center;
}

.title {
  width: 117px;
  height: 19px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
  color: #fbc22e;
}

.booth {
  width: 127px;
  height: 43px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 43px;
  color: #ffffff;
}

.see-btn {
  width: 100%;
  display: flex;
  margin-top: 2.3125rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.total {
  width: 100px;
  height: 30px;
  padding-bottom: 8px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: #9b9b9b;
  border: none;
  background-color: #0d0d0d;
}

.total:hover {
  cursor: pointer;
}

.part {
  width: 100px;
  height: 30px;
  padding-bottom: 8px;
  margin-left: 20px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  background-color: #0d0d0d;
  border-bottom: 2px solid #ffffff;
}

.part:hover {
  cursor: pointer;
}

.booth-container {
  margin: 0 2rem 0 2rem;
}

/* 펼치기 전  */

.booth-box {
  background-color: rgba(255, 255, 255, 0.2);

  padding: 1.3rem 1.5rem 1.3rem 1.5rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.booth-before {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-wrap {
  display: flex;
  flex-direction: column;
}

.material-symbols-outlined {
  color: #ffffff;
}

.booth-name {
  font-family: "Pretendard";
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 6px;
  color: #ffffff;
}

.booth-info {
  font-family: "Pretendard";
  font-size: 1rem;
  font-weight: 300;
  color: rgba(225, 225, 225, 0.8);
  margin-bottom: 0.3rem;
}

.booth-box-detail {
  display: flex;
  flex-direction: column;
  /* display: none; */

  background-color: rgba(255, 255, 255, 0.2);
  padding: 1.3rem 1.5rem 1.3rem 1.5rem;
  border-radius: 25px;
  margin-bottom: 1rem;
}

.booth-detail-intro-container {
  font-family: "Pretendard";
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
}

.introduce {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.booth-introduce {
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.booth-detail-event-container {
  font-family: "Pretendard";
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
}

.booth-event {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
}
.event {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.booth-detail-location-container {
  font-family: "Pretendard";
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
}

.location {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  margin-top: 1.25rem;
  margin-bottom: 3px;
}

.booth-location {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
}

.line {
  background: rgba(255, 255, 255, 0.26);
  border: 0;
  height: 1px;
}

.booth-detail-container {
  display: none;
}

.icon-up {
  transform: rotate(180deg);
  transition: transform 0.5s linear;
}

.icon-down {
  transition: transform 0.5s linear;
}
