{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_navbar.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css" />
    <title>navbar</title>
</head>
<body>

    <input type="checkbox" id="menuicon">
    <label for="menuicon">
        <span></span>
        <span></span>
        <span></span>
    </label>
    
    <div class="navbar">
        <div class="backdrop"></div>
        <div class="menu">
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li><a href="{% url 'schedule' %}">SCHEDULE</a></li>
            <li><a href="{% url 'booth' %}">BOOTH</a></li>
            <li><a href="{% url 'food' %}">FOOD</a></li>
            <li><a href="{% url 'info' %}">INFO</a></li>
        </div>

    </div>
    
</body>
{% block content %}
{% endblock %}
</html>