{% extends 'base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/schedule.css' %}" />
<title>schedule</title>
<script
  src="https://kit.fontawesome.com/d35df90ac6.js"
  crossorigin="anonymous"
></script>

<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  rel="stylesheet"
/>

<div class="wallpaper">
  <div class="upper_wrap">
    <div class="title_1">2022 FESTIVAL</div>
    <div class="title_2">SCHEDULE</div>
  </div>

  <div class="wrap">
    <div class="tab_menu">
      <div class="list">
        <div class="is_on">
          <div class="btn_collect">
            <button class="prev_btn" onClick="prevButton()"><</button>
            <a href="#tab1" class="btn" id="title-date">10.19 WED</a>
            <button class="next_btn" onclick="nextButton()">></button>
          </div>
          <div id="tab1" class="cont">
            <table id="title">
              <tr class="tr">
                <td id="left-td"></td>
                <!--div class="right_nav"-->
                <td class="right-td" id="right-td ">
                  <span id="detail"></span>
                </td>
                <!--/div-->
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />

  <div class="wrap2">
    <div class="programs">PROGRAMS</div>

      <div class="slide-circle-box">
        <div class="slide-circle"></div>
        <div class="slide-circle"></div>
        <div class="slide-circle"></div>
        <div class="slide-circle"></div>
      </div>

      <div class="program_info_box">
        <div class="program_text">
          <div class="program_title">갤럭시 체험&포토존 운영</div>
          <div class="program_detail">
            일시: 10.17 ~ 10.21 
            중앙잔디광장
          </div>
        </div>
        <div class="program_text">
          <div class="program_title">동아리, 의류학과 플리마켓</div>
          <div class="program_detail">
            일시: 10.17 ~ 10.21 
            중앙잔디광장
          </div>
        </div>
        <div class="program_text">
          <div class="program_title">간식 이벤트</div>
          <div class="program_detail">
            일시: 10.17 ~ 10.21 
            중앙잔디광장
          </div>
        </div>
        <div class="program_text">
          <div class="program_title">푸드트럭</div>
          <div class="program_detail">
            일시: 10.19 ~ 10.21 / 10:30 ~ 24:00 
            대운동장 앞
          </div>
        </div>
        <div class="program_text">
          <div class="program_title">간식 이벤트</div>
          <div class="program_detail">
            일시: 10.19 ~ 10.21 / 10:30 ~ 24:00 
            대운동장 앞
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'js/slideshow_1.js' %}" defer></script>
    <!-- <script src="img_slide.js" defer></script> -->

    {% endblock %}
  </div>
</div>
